/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/
.thumbnail {
    margin: 25px;
    padding: 10px;
    border-radius:10px;
    height:450px;
    width:240px;
}
    
.thumbnail {
  background-color:#ff99ff;
}

.column {
 background-color:#cc99ff;
}
    

/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/



/**********************************

Orange: #FF530D
Blue: #286BFF
Color 1:
Color 1:
Color 1:
***********************************/